:root {
  --background-color: #eeeeee;
  --main-color: #333333;
  --secondary-color: #cccccc;
  --disabled-color: #888888;
  --font-lato-regular: 16px "Lato", sans-serif;
  --transition-delay: 0.2s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* some global style definitions */
  background-color: var(--background-color);
  font: var(--font-lato-regular);
  color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
